html
    box-sizing border-box
    min-height: 100%
    position: relative
*, *:before, *:after
    box-sizing inherit


//generateClasses($spritesheet_sprites)

body
    font-size 14px
    font-family 'Myriad Pro', sans-serif
    font-weight 400
    min-width: 100%;
    margin:0 0 122px;
    color $text-color
    background: url('../images/bg.png') 50% 0;

        
a
    text-decoration underline
    color inherit
    transition all 0.3s
    &:hover
        color black
        text-decoration none


.page-wrapper.pad-top {
    padding-top: 145px
    +below($screen-sm) {
        padding-top: 0
    }
}

.icon
    display inline-block
    vertical-align middle
    position relative
    background-color: transparent
    padding: 0
    border none
    &:before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        display block
        opacity: 0
        transition all 0.3s
    &:after
        content ''
        top 0
        left 0
        position: absolute
        opacity: 1
        transition all 0.3s
    + span
        display inline-block
        vertical-align middle

img
    max-width 100%

.nav-trigger
    margin: 0 auto
    text-align center
    margin-top 12px
    z-index 10
    position: absolute !important
    left 15px
    top 0
    display: none
    &.active
        hamburger-animation()
        &:before, &:after
            background-color: $blue
    +below($screen-sm)
        hamburger-generator(18px, 2px, 4px, $text-color)
        margin-top 12px

.page-wrapper
    transition transform 0.3s
    &.active
        transform translateX(200px)
        
.container
    padding 0 10px
    +above($screen-sm)
        padding: 0 15px

//.custom-select
//    position relative
//    height 34px
//    margin-bottom 6px
//    padding 0
//    &:after
//        content ''
//        position absolute
//        sprite($arrow_down)
//        right 1px
//        top 0
//        pointer-events none
//    select
//        display: inline-block;
//        width 100%
//        padding: 8px 8px 3px 15px;
//        margin: 0;
//        font: inherit;
//        outline:none; /* remove focus ring from Webkit */
//        line-height: 1.2;
//        background: transparent;
//        color: black;
//        border:0;
//}

.mobile-menu
    background-color white
    color black
    width 200px
    padding 15px 20px 20px
    position fixed
    left 0
    top 0
    min-height 100%
    overflow auto
    transition transform 0.3s
    transform translateX(-100%)
    &.active
        transform translateX(0)
    +above(880px)
        display none
    a, span
        font-weight 700
        text-transform uppercase
        text-decoration none
        display block
        margin 10px 0
        font-size 14px
        color $text-color
        &:first-child
            margin-top 0
    span
        color $text-color
    .product_nav
        position: static
        display: block
        padding: 0
        list-style none
        margin-top: 30px
        +below($screen-sm)
            display: block

.field
    height: 35px
    display: block
    width: 100%
    padding-left: 20px
    padding-right: 20px
    margin: 0 auto
    background-color: #f6f6f6
    border: 1px solid #ddd
    border-radius 30px
    &-calendar {
        cursor pointer
        background #f6f6f6 url('../images/arrow-black-down.png') no-repeat right 15px center
    }
    &-text
        resize none
        height: 150px
        padding-top: 10px
        border-radius 12px
        &-small {
            height: 52px
        }
    &:focus
        border-color: gray
        outline none


.fadeInUp
    animation fadeInUp

.animated
    animation-fill-mode both

input
    border none

.col-inline {
    display: inline-block
    vertical-align: middle
    float: none
    margin-right: -4px
}
.btn {
    text-decoration: none
    text-transform: uppercase
    color $red
    border 1px solid $red
    height: 35px
    line-height: 33px
    font-size: 12px
    padding 0 25px
    display: inline-block
    transition all 0.3s
    border-radius 20px
    background-color: transparent
    &-full {
        width: 100%
    }
    &:hover {
        color white
        background-color: $red
    }
        
    &-blue {
        color $blue
        border-color $blue
        &:hover {
            color white
            background-color: $blue
        }
    }

    &-wide {
        width: 230px
        padding: 0
        text-align: center
    }

    &-cart {
        padding-left: 25px
        background white url("../images/icon_basket_r.png") no-repeat 10px center
        &:hover {
            background-image: url(../images/icon_basket.png)
        }
    }

    &-red {
        background-color: $red
        color white
        &:hover {
            background-color: transparent
            color $red
        }
    }
}

.text-uppercase {
    text-transform: uppercase
}

.custom-list {
    padding-left: 0
    margin-left: 0
    list-style none
    line-height: 1.6
    li {
        position: relative
        padding-left: 12px
    }
    li:before {
        content: "•";
        color: $red; /* or whatever color you prefer */
        position: absolute
        left 0
        top -1px
    }
}

.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
}
